[submodule "contracts/v4"]
	path = contracts/v4
	url = https://github.com/uniswap/v4-core
[submodule "contracts/lib/forge-std"]
	path = contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "contracts/utils/lib/forge-std"]
	path = contracts/utils/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
